server:
  port: 9000
  servlet:
    context-path: /api/v1

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/nnpia
    username: nnpia
    password: nnpia
  jpa:
    hibernate:
      ddl-auto: update
  liquibase:
    enabled: false

  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    path: /graphql